/* index */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body,
html {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
}

.header {
    background: url("/image/header.png");
    background-size: cover;
    width: 100%;
}

.container-fluid {
    max-width: 1490px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}


.logo-wrapper {
    background: #FFFFFFBD;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    z-index: 10;
}

.logo {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 50%;
    padding: 5px;
}

.header-title {
    border-radius: 4px;
    padding: 10px;
    display: inline-block;
    position: relative;
    z-index: 1;
    margin-top: 10px;
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-size: 33px;
    color: #28CD56;
    white-space: nowrap;
}

.header-title::before {
    content: "";
    position: absolute;
    left: -9rem;
    top: 0;
    width: calc(100% + 160px);
    height: 100%;
    background-color:#FFFFFFBD;
    border-radius: 4px;
    z-index: -1;
}

.address {
    font-size: 12px;
    color: #747775;
    margin-left: 10px;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 500;
}


.text-nowrap {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 500;
    font-size: 10px;
    color: #0CFF50;
}

.user-avatar-wrapper {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: linear-gradient(45deg, #4DD969, #28CD56);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
}

.user-info {
    margin-right: 10px;
}

.user-avatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.logout-btn {
    background-color: #3FD462;
    color: white;
    border-radius: 20px;
    width: 70px;
    height: 30px;
    border: none;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    margin-right: 10px;
}

.logout-btn:hover,
.logout-btn:active,
.logout-btn:focus,
.logout-btn.active {
    background-color: #3FD462 !important;
    color: white !important;
    border: none !important;
    box-shadow: none !important;
    opacity: 1 !important;
}

.logout-btn:focus-visible {
    outline: none !important;
    box-shadow: none !important;
}

.menu {
    font-family: "Be Vietnam Pro", sans-serif;
    /* min-height: 800px; */
    min-height: 700px;
}

.menu-main-screen,
.menu-service-configuration,
.menu-news-management {
    text-decoration: none;
}


.text-main-1,
.text-service-1,
.text-news-1 {
    font-weight: 500;
    font-size: 15px;
    color: #1A1B23;
}

.text-main-2,
.text-service-2,
.text-news-2 {
    font-weight: 400;
    font-size: 10px;
    color: #919191;
}

.icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid #EEEEEE;
    border-radius: 50%;
    padding: 5px;
    background-color: white;
}

.button-text-main,
.button-text-service,
.button-text-news {
    color: #919191;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.button-text-service.active,
.button-text-main.active,
.button-text-news.active{
    background-color: #28CD56;
    color: white;
}

.divider-vertical {
    width: 1px;
    background-color: #DBD6D6;
    padding: 0 !important;
    margin: 0 5px;
    margin-bottom: 5px;
    position: relative;
    /* height: 80vh;        */
    /* min-height: 100%; */
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

.divider-vertical::before,
.divider-vertical::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #DBD6D6;
    transform: rotate(45deg);
    left: -2.5px;
}

.divider-vertical::before {
    top: 0;
}

.divider-vertical::after {
    bottom: 0;
}

.display-container {
    font-family: "Be Vietnam Pro", sans-serif;
}

/* Toast */
.toast {
    display: flex;
    align-items: center;
    justify-content: start;
    max-width: 350px;
    padding: 10px 15px;
}

.toast-body {
    flex-grow: 1;
    font-size: 16px;
    padding-left: 10px;
}

.toast-icon {
    font-size: 20px;
    margin-right: 10px;
}

.toast-wrapper {
    margin-bottom: 20px;
}

@keyframes toastSlideIn {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes toastFadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.toast-animated {
    animation: toastSlideIn 0.4s ease forwards;
}

.toast.hide {
    animation: toastFadeOut 0.4s ease forwards !important;
}

