.modal-content {
    border: 1px solid #DBD6D6 !important;
}
.modal-header {
    background-color: #EEEEEE;
}  
.modal-title {
    font-family: "Be VietNam pro",sans-serif;
    color: #000000;
    font-size: 20px;
    font-weight: 500;
} 

.modal-body label,
.modal-body input {
    font-family: "Be VietNam pro",sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #1A1B23;
}

#citizenAddress {
    font-family: "Be VietNam pro",sans-serif;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 400;
    color: #1A1B23;
}

.custom-textarea {
    resize: none;
    height: 225px;
}

.note-footer p{
    color: #919191;
    font-family: "Be VietNam pro",sans-serif;
    font-weight: 400;
    font-size: 10px;
}

.modal-footer button,
.modal-footer a
{
    font-family: "Be VietNam pro",sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;
    width: 96px;
    height: 34px;
    border: none;
    border-radius: 20px;
}

.modal-footer a {
    text-decoration: none;
    display: inline-flex; 
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.custom-cancel-btn {
    background: linear-gradient(90deg, #418FF5 0%, #1562F1 100%);
}

.custom-save-btn {
    background: linear-gradient(90deg, #4DD969 0%, #28CD56 100%);
}

.custom-close-btn {
    background: linear-gradient(90deg, #85A5CD 0%, #4E6AA0 100%);
}


/* confirm modal */


.confirm-modal .modal-body p,
.confirm-modal label,
.confirm-modal span,
.confirm-modal .modal-title {
    font-family: "Be VietNam Pro", sans-serif;
    font-size: 20px;
    color: #000000;
}

.confirm-modal .info-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 30px;
}

.confirm-modal .info-item {
    flex: 1 1 45%;
    display: flex;
    gap: 5px;
    align-items: center;
}

.confirm-modal .info-item label {
    font-weight: 400;
    min-width: 100px;
}
.confirm-modal #confirm-name,
.confirm-modal #confirm-stt,
.confirm-modal #confirm-phone {
    font-weight: bold;
}

.confirm-modal .location {
    font-size: 15px;
    color: #1A1B23;
}

.confirm-modal .modal-footer .btn {
    min-width: 100px;
    height: 36px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    font-family: "Be VietNam Pro", sans-serif;
}

.confirm-modal .yes-confirm {
    background: linear-gradient(#4DD969 0%, #28CD56 100%);
    border: none;
    color: white;
}

.confirm-modal .no-confirm {
    background: linear-gradient(#85A5CD 0%, #4E6AA0 100%);
    border: none;
    color: white;
}
